META-INF
path.xml
work.xml

.DS_Store
.vscode
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.idea
.env

temp
test

*.*~
*.bak
*.old
*.env
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
